body { background-color: #121212; color: white; }
a { color: #0d6efd; }
a:hover { color: #0b5ed7; }
.bg-dark { background-color: #121212; }

.efeito-nome {
background: linear-gradient(45deg,#42ff1c, #40c9ff);
-webkit-background-clip: text;
color: transparent;
background-clip: text;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card1 {
  padding: 10px;
  color: white;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 25%, #42ff1c, #40c9ff) border-box;
  border: 4px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  background-size: 200% 200%; /* Aumenta o tamanho do gradiente para a animação */
  animation: gradientAnimation 8s ease infinite; /* Aplica a animação */
  box-shadow: 0 0 30px  #4fcf64bb;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card1-image {
  max-width: 200px;
  max-height: 200px; /* Garante que a imagem não exceda o tamanho do card */
  border-radius: 4px; /* Arredonda os cantos da imagem */
  object-fit: cover; /* Garante que a imagem cubra o espaço disponível */
}

.card1:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center; /* Centraliza o conteúdo dentro do

card */
}

.card-title {
margin-bottom: 10px;
font-size: 1.25rem; /* Ajuste o tamanho da fonte conforme necessário */

}

.card-link {
display: block;
margin-bottom: 5px;
color: #42ff1c; /* Cor de sua escolha para os links */
}

@media (max-width: 768px) {
.card-img-top {
max-height: 150px;
}
}

.nav-link {
    /* Estilo básico para os links */
    color: white; /* ou outra cor de base para os links */
    background: transparent;
    -webkit-text-fill-color: white; /* Cor do texto para navegadores WebKit */
    text-decoration: none; /* opcional, remove o sublinhado dos links */
    position: relative; /* Necessário para posicionar o pseudo-elemento */
    z-index: 1; /* Para garantir que o texto fique acima do pseudo-elemento */
}

.nav-link:hover {
    /* Estilo para o hover */
    background: linear-gradient(145deg, #42ff1c, #40c9ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Torna o texto transparente para navegadores WebKit */
    color: transparent; /* Torna o texto transparente */
}

.nav-link::after {
    content: '';
    position: absolute;
    top: 100%; /* Posicionado logo abaixo do link */
    left: 0;
    width: 100%;
    height: 3px; /* Altura da "sombra" */
    background: linear-gradient(145deg, #42ff1c, #40c9ff);
    opacity: 0; /* Inicialmente invisível */
    transition: opacity .3s ease;
    z-index: -1; /* Coloca a "sombra" atrás do texto */
}

.nav-link:hover::after {
    opacity: 1; /* Torna a "sombra" visível no hover */
}


.gradient-icon {
color: white; /* ou outra cor base */
}

.gradient-icon:hover {
background: linear-gradient(145deg,#42ff1c, #40c9ff);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}
.center-content {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.btn-custom {
background: linear-gradient(45deg, #42ff1c, #40c9ff);
border: none;
color: white; /* Ajuste a cor do texto conforme necessário */
box-shadow: 0 0 15px  #4fcf64bb;
}

/* Opcional: Estilize o estado hover do botão */
.btn-custom:hover {
background: linear-gradient(45deg, #3ce817, #36b4e8);
color: white; /* Ajuste a cor do texto conforme necessário */
}


.cube-container {
    display: flex; /* Usa flexbox para alinhamento */
    flex-direction: column; /* Itens empilhados verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 800px; /* Altura total do contêiner */
    position: relative;
    margin: 0 auto;
}

.cube {
    position: absolute; /* Posicionamento absoluto */
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 8s infinite linear;
    z-index: 0; /* Coloca o cubo atrás da imagem */
}

img.img-fluid2 {
    position: absolute; /* Posicionamento absoluto */
    height: 600px;
    width: auto;
    z-index: 1; /* Mantém a imagem na frente do cubo */
}

  
  .face {
    position: absolute;
    width: 200px;
    height: 200px;
    color:  #42ff1c;
    font-size: 18px;
    text-align: center;
    line-height: 200px;
    background: transparent;
    opacity: 0.9;
    border: 2px solid;
    border-image: linear-gradient(to right, #3fdf0f,  #159bc4, #557d35, #cfcf16, #159bc4) 1;
    box-shadow: 0 0 100px  #4fcf64bb;
  }
  
  .front {
    transform: translateZ(100px);
  }
  
  .back {
    transform: rotateY(180deg) translateZ(100px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(100px);
  }
  
  .left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .top {
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  
  @keyframes rotate {
    0% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
    }
  
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
  

/* Diminui a margem inferior da linha de ícones */
.row.icons {
    margin-bottom: -150px; /* Reduz a margem para 0 ou qualquer outro valor desejado */
}

/* Diminui o padding superior da linha com as colunas */
.row.align-items-center {
    padding-top: 0; /* Reduz o padding para 0 ou qualquer outro valor desejado */
}

.mt-3 {
    margin-top: 0 !important; /* Sobrescreve o margin-top padrão da classe 'mt-3' do Bootstrap */
}

#projects {
    margin-top: -100px; /* Reduz o padding-top para 2rem ou o valor desejado */
}

@media (max-width: 768px) {
  .icons ul.list-inline li.list-inline-item {
      margin-bottom: 10px; /* Espaçamento entre ícones */
  }

  .cube-container {
      text-align: center; /* Centraliza o cubo e a imagem em telas menores */
  }

  .img-fluid2 {
      max-width: 100%;
      height: auto; /* Garante que a imagem seja redimensionada corretamente */
  }

  .card1 {
      margin-bottom: 20px; /* Espaçamento entre os cards */
  }
  .row.icons {
    margin-bottom: 0px; /* Reduz a margem para 0 ou qualquer outro valor desejado */
}
#projects {
  margin-top: 0px; /* Reduz o padding-top para 2rem ou o valor desejado */
}

.cube-container {
  margin: -125px;
}
}
