/* Estilos Básicos */
body {
  background-color: #121212;
  color: white;
}

a {
  color: #0d6efd;
}

a:hover {
  color: #0b5ed7;
}

.bg-dark {
  background-color: #121212;
}

/* Efeito de nome com gradiente */
.efeito-nome {
  background: linear-gradient(45deg, #42ff1c, #40c9ff);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}

/* Card personalizado */
.card1 {
  padding: 10px;
  color: white;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%, #42ff1c, #40c9ff) border-box;
  border: 4px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  background-size: 200% 200%;
  animation: gradientAnimation 8s ease infinite;
  box-shadow: 0 0 25px #4fcf64bb;
  justify-content: space-between; /* Alinhamento interno */
}

.card1:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo de imagem em card */
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}
.card2-image {
  max-width: 200px;
  max-height: 200px;
  border-radius: 4px;
  object-fit: cover;
}


/* Estilos para nav-link */
.nav-link {
  color: white;
  background: transparent;
  -webkit-text-fill-color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.nav-link:hover {
  background: linear-gradient(145deg, #42ff1c, #40c9ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.nav-link::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(145deg, #42ff1c, #40c9ff);
  opacity: 0;
  transition: opacity .3s ease;
  z-index: -1;
}

.nav-link:hover::after {
  opacity: 1;
}

/* Estilos para ícones com gradiente */
.gradient-icon {
  color: white;
}

.gradient-icon:hover {
  background: linear-gradient(145deg, #42ff1c, #40c9ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* Centraliza conteúdo */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Animação de gradiente */
@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Estilos para botão personalizado */
.btn-custom {
  background: linear-gradient(45deg, #42ff1c, #40c9ff);
  border: none;
  color: white;
  box-shadow: 0 0 10px #4fcf64bb;
}

.btn-custom:hover {
  background: linear-gradient(45deg, #3ce817, #36b4e8);
  color: white;
}

.cube-container {
  display: flex; /* Usa flexbox para alinhamento */
  flex-direction: column; /* Itens empilhados verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  height: 800px; /* Altura total do contêiner */
  position: relative;
  margin: 0 auto;
}

.cube {
  position: absolute; /* Posicionamento absoluto */
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 8s infinite linear;
  z-index: 0; /* Coloca o cubo atrás da imagem */
}

img.img-fluid2 {
  position: absolute; /* Posicionamento absoluto */
  height: 600px;
  width: auto;
  z-index: 1; /* Mantém a imagem na frente do cubo */
}

.face {
  position: absolute;
  width: 200px;
  height: 200px;
  color: #42ff1c;
  font-size: 18px;
  text-align: center;
  line-height: 200px;
  background: transparent;
  opacity: 0.9;
  border: 2px solid;
  border-image: linear-gradient(to right, #3fdf0f, #159bc4, #557d35, #cfcf16, #159bc4) 1;
  box-shadow: 0 0 100px #4fcf64bb;
}

/* Posicionamento das faces do cubo */
.front {
  transform: translateZ(100px);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotate {
  0% {
      transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
  .card-img-top {
      height: 150px;
  }
}

/* Ajustes específicos de layout */
.row.icons {
  margin-bottom: -150px;
}

.row.align-items-center {
  padding-top: 0;
}

.mt-3 {
  margin-top: 0 !important;
}

#projects {
  margin-top: -150px;
}

#skills {
  background-image: 
      linear-gradient(
          to bottom, 
          rgba(0, 0, 0, 0) 0%, 
          rgba(0, 0, 0, 0.5) 25%, 
          rgba(0, 0, 0, 0.5) 75%, 
          rgba(0, 0, 0, 0) 100%
      ),
      url('https://optiver.com/wp-content/uploads/2022/10/AdobeStock_457358220-scaled.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.justified-text {
  text-align: justify;
}

/* Custom styles for the accordion */

/* Cor de fundo para o corpo do acordeão */
.accordion-body {
  background-color: #212529; /* Cor de fundo para o corpo do acordeão */
  color: #ffffff; /* Cor do texto para o corpo do acordeão */
}

/* Cor de borda para os itens do acordeão */
.accordion-item {
  border: 1px solid #2c3034; /* Cor da borda dos itens do acordeão */
}


